.page {
    width: 600px;
    margin: 0 auto;
  }
.synopsis {
    color: #7E8184;
    font-style: italic;
  }

.synopsis em {
    font-style: normal;
 }

  .button {
    color: #FFF;
    background-color: #29fd2f;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #0b24fb;
    border-radius: 5px;
  
    width: 200px;
    margin: 20px auto;
  }

  .call-to-action {
    font-style: italic;
    background-color: #0b24fb;
  }