* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    text-align: center;
  }

h1, p {
    background-color: #f1eeee;
  }

  h1 {
    padding: 50px;
    border: 1px solid #0b24fb;
  }

  p {
    padding: 20px 20px 20px 20px;
  }

  div {
    color: #FFF;
    background-color: #4A90E2;
    font-weight: bold;
    padding: 20px;
    text-align: center;
  
    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
  }

  a:link {
    color: blue;
    text-decoration: none;
  }
  
  a:visited {
    color: purple;
  }
  
  a:hover {
    color: aqua;
    text-decoration: underline;
  }
  
  a:active {
    color: red;
  }