h1, p {
    background-color: #f1eeee;
  }

  h1 {
    padding: 50px;
    /*border: 1px solid #0b24fb;*/
    border-bottom: 1px solid #0b24fb;
  }

  p {
    padding: 20px 0 20px 10px;
  }

  div {
    color: #f1eeee;
    background-color: #29fd2f;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #0b24fb;
    border-radius: 5px;
  }

  div {
    /* ... */
    width: 200px;
  }