* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 1200px;
    font-size: 18px;
    font-family: sans-serif;
    color: #000000;
  }
  
  a:link,
  a:visited {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .header {
    width: 100%;
    padding: 50px;
  
    display: flex;
    justify-content: space-between;
  
    position: fixed;
    
    background: #f1eeee;
  }

  
  .menu {
    margin-top: 15px;
  }
  
  .menu > li {
    margin-right: 50px;
    display: inline;
  }
  
  .menu > li:last-of-type {
    margin-right: 0;
  }

  .features-menu {
    display: flex;
    flex-direction: column;
    background: #29fd2f;
    border-radius: 5px;
    padding-top: 60px;    
  
    position: absolute;
    top: -25px;
    left: -30px;
  }
  
  .features-menu li {
    list-style: none;
    border-bottom: 1px solid #FFF;
    padding: 0 40px 10px 20px;
    margin: 10px;
  }
  
  .features-menu li:last-of-type {
    border-bottom: none;
  }

  .dropdown:hover .features-menu {    /* Тут раньше было `.features-menu` */
  display: flex;                    /* Все остальное оставляем, как есть */
  flex-direction: column;
  background: #B2D6FF;
  /* ... */
}

.features-menu {                    
  display: none; /* Добавляем новое правило */
}

  .dropdown {
    position: relative;
  }

  .dropdown > span {
    z-index: 2;
    position: relative;  /* Это очень важно! */
    cursor: pointer;
  }
  
  .features-menu {
    /* ... */
    z-index: 1;
  }